/* 清除浮动 */
.clearfix:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  clear: both
}
.clearfix{
  zoom: 1
}

/* 显示省略号 */
.slh{
  width: 100px;
  white-space: nowarp;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行省略号 */
.dhslh{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-clamp: 3;
  overflow: hidden;
}

/* 水平垂直居中 */
.sc1{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: @width/2;
  margin-top: @height/2
}
.sc2{
  /* 父级 */
  display: table-cell;
  vertical-align: middle;

  /* 子级 */
  margin: 0 auto
}
.sc3{
  position: absolute;
  top: 50%;
  left: 50%;
  /* 偏移自身宽高 */
  transform: translate(-50%,-50%)
}
.sc4{
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 水平居中 */
  justify-content: center;
}